#container {
    margin: 0 auto;
    width: 50%;
}
.gridCell {
    display: inline-block;
    background-color: blue;
    width: 30px;
    height: 30px;
    margin: 0 1px;
}

button {
    display: block;
    margin: 15px auto;
}