body {
    font-family: Arial, sans-serif;
    color: darkslategrey;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
}

li {
    display: inline-block;
    width: 50px;
    font-size: 12px;
}

.center {
    padding-top: 10px;
}

.move-right {
    float: right;
}

main {
    text-align: center;
}


.center {
    margin: 0 auto;
}

#google-image {
    margin: 30px auto;
    border-radius: 30px;
    background-color: yellow;
    width: 400px;
    height: 200px;
}

input {
    width: 550px;
    height: 45px;
    margin-top: 0px;
    margin-bottom: 20px;
}

button {
    border-radius: 0px;
    border: none;
    margin: 5px;
    height: 40px;
    width: 150px;
    transition-duration: 0.4s;
}

button:hover {

    border: 1px solid grey;
}

footer {
    position: fixed;
    width: 100%;
    height:40px;
    bottom: 0;
    background-color: hsla(0, 0%, 83%, 0.5);
}

footer ul li {
    margin: 15px;
}

#bell {
    margin-top: 5px;
    width: 40px;
}

#apps {
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 0;
    width: 40px;
}